.sb {
    height: 4em;
    width: 10em;
    position: relative;
    top: 20em;
    margin-left: 2%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Noto serif';
    transition: 0.2s;
    font-size: clamp(1px, 2vw, 15px);
}

.sb:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.2s;
    cursor: none;
}

.sd {
    height: 4em;
    width: 10em;
    position: relative;
    top: 20em;
    margin-left: 2%;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Noto serif';
    transition: 0.2s;
    font-size: clamp(1px, 2vw, 15px);
}

.sd:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.2s;
    cursor: none;
}

.container-agenda, iframe {
    display: block;
    text-align: center;
    width: 100%;
    height: 85vh;
    margin: auto;
    margin-top: 1em;
}